.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar-logo img{
  width: 80px;
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 10px 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #444;
  color: white;
  transition: 0.5s ease-in;
  font-size: 1.2rem;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
  text-shadow: 0 0 10px white;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  width: 40px;
}
.amahan{
  display: none;
}
/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}
/* MEDIA SCREEN FOR TABLET VIEW*/
/* @media (min-width: 601px) {
  .navbar{
    width: 100%;
  }
} */
/* MEDIA SCREEN FOR MOBILE VIEW*/
 @media (max-width: 600px) {
  /* .amahan{
    display: flex;
    font-size: 2rem;
    position: relative;
    left: 7rem;
    top: 0.1rem;
  } */
  .navbar {
    padding: 5px 5px;
  }

  .navbar-logo img {
    width: 60px;
    height: 50px;
  }
  
  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    gap: 0;
    font-size: 1.5rem;
    font-weight: 100;
    padding: inherit;

  }

  .nav-links.open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }

  .nav-links a {
    padding: 15px;
    border-bottom: 1px solid #444;
  }

 .dropdown-content {
    position: fixed;
    top: 50px;
    left: 0;
    width: 50%; /* Adjust width as needed */ 
    /* min-width: unset; */
    box-shadow: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 50px);
    background-color: #333;
  }

  .dropdown-content.show {
    display: flex;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .nav-links.open .dropdown:hover .dropdown-content {
    display: flex;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 400;
  }
  
}





















/* .navbar {
    height: 12vh;
    background: #1b1919;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-logo img{
    width: 100px;
    height: 80px;
  }
  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
  }
  .nav-item a:hover {
    background: rgb(0, 212, 212);
  }
  .responsive-menu{
    font-size: 2rem;
    color: white;
    width: 10rem;
    display: none;
  }
  @media (max-width: 600px) {
    .navbar{
      height: 100%;
      width: 100%;
    } 
    .navbar .responsive-menu{
      display: flex;
      justify-content: space-evenly;
    }
    .navbar .nav-items{
      flex-direction: column;
      width: 30%;
      display: none; 
    } 
    .nav-item{
      display: block;
    }
    .navbar .nav-items li{
      flex-direction: column;
      justify-content: flex-start;
    }

    nav ul{
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.2rem;
    }
    nav ul li{
      width: 100%;
      text-align: center;
    }
    nav ul li a{
      margin: 0.5rem 0.8rem;
      font-size: 1.5rem;
      margin-right: 3rem;
      padding: 12px 20px;
      border-radius: 5px;
    }
  } */